* {
  margin: 0;
  padding: 0;
  font-family: 'Macondo', cursive;
}

#sprite-image  {
  /* height: 325px;
  width: 184px; */
  height: 135px;
  width: 135px;
  transform: scale(2);
  image-rendering: pixelated;

}

#sprite-image-enemy{
    height: 90px;
      width:90px;
      transform: scale(2);
      image-rendering: pixelated;
      filter: FlipH;
      transform: scaleX(-1);
}

.idle {
  background-image: url('./assets/characters/heros/warrior/Idle.png');
  animation: play 0.8s steps(1) infinite;

}

.attackPlayer {
  background-image: url('./assets/characters/heros/warrior/Attack1.png');
  animation: attack 0.8s steps(1) infinite;
}

.deathPlayer {
  background-image: url('./assets/characters/heros/warrior/Death.png');
  animation: death 1.0s steps(1);
  /* background-position: -1215px;
    animation-fill-mode: backwards; */
  animation-fill-mode: both;
  /* animation-iteration-count: 1; */

}
.playerGetHit{
    background-image: url('./assets/characters/heros/warrior/GetHit.png');
      animation: hit 1.0s steps(1);
      animation-fill-mode: both;
}

.idleEnemy {
  background-image: url('./assets/characters/enemies/Worm/Idle.png');
  animation: playEnemy 1s steps(1) infinite;

}

.attackEnemy {
  background-image: url('./assets/characters/enemies/Worm/Attack.png');
  animation: enemyAttack 1s steps(1) infinite;
}

.deathEnemy {
  background-image: url('./assets/characters/enemies/Worm/Death.png');
  animation: enemyDeath 1.0s steps(1);
  /* background-position: -1215px;
    animation-fill-mode: backwards; */
  animation-fill-mode: both;
  /* animation-iteration-count: 1; */

}

.enemyGetHit {
  background-image: url('./assets/characters/enemies/Worm/GetHit.png');
  animation: enemyHit 1.0s steps(1);
  animation-fill-mode: both;
}

@keyframes play {
  0% {
    background-position: 0px;
  }

  10% {
    background-position: 135px;
  }

  20% {
    background-position: 270px;
  }

  30% {
    background-position: 405px;
  }

  40% {
    background-position: 540px;

  }



}

@keyframes death {
  0% {
    background-position: 0px;
  }

  10% {
    background-position: -135px;
  }

  20% {
    background-position: -270px;
  }

  30% {
    background-position: -405px;
  }

  40% {
    background-position: -540px;

  }

  50% {
    background-position: -675px;
  }

  60% {
    background-position: -810px;
  }

  70% {
    background-position: -945px;
  }

  /* 80% {
    background-position: -1080px;

  } */

  /* 90% {
    background-position: -1080px;

  } */

  100% {
    background-position: -1080px;

  }



}
@keyframes enemyDeath {
  0% {
    background-position: 0px;
  }

  10% {
    background-position: -90px;
  }

  20% {
    background-position: -180px;
  }

  30% {
    background-position: -270px;
  }

  40% {
    background-position: -360px;

  }
  50% {
    background-position: -450px;
  }

  60% {
    background-position: -540px;
  }

  100% {
    background-position: -630px;
  }








}

@keyframes attack {
  0% {
    background-position: 0px;
  }

  25% {
    background-position: 135px;
  }

  50% {
    background-position: 270px;
  }

  75% {
    background-position: 405px;
  }
}

@keyframes hit {
  0% {
    background-position: 0px;
  }

  20% {
    background-position: 135px;
  }

  40% {
    background-position: 270px;
  }
     60% {
       background-position: 135px;
     }
            100% {
              background-position: 0px;
            }

  /* 30% {
    background-position: 405px;
  }

  40% {
    background-position: 540px;

  } */


}

@keyframes enemyHit {
  0% {
    background-position: 0px;
  }

 30% {
    background-position: 90px;
  }

60% {
    background-position: 180px;
  }

  100% {
    background-position:270px;
  }

  /* 30% {
    background-position: 405px;
  }

  40% {
    background-position: 540px;

  } */


}

@keyframes playEnemy {
  0% {
    background-position: 0px;
  }

  10% {
    background-position:90px;
  }

  20% {
    background-position: 180px;
  }
  30% {
    background-position: 270px;
  }

  40% {
    background-position: 360px;
  }

  50% {
    background-position: 450px;
  }
  60% {
    background-position: 540px;
  }
  70% {
    background-position: 630px;
  }
  80% {
    background-position: 720px;
  }

  100% {
    background-position: 810px;
  }



}

@keyframes enemyAttack {
  0% {
    background-position: 0px;
  }

  6.25%{
    background-position: 90px;
  }

  12.5% {
    background-position: 180px;
  }

  18.75% {
    background-position: 270px;
  }

  25% {
    background-position: 360px;
  }

  31.25% {
    background-position: 450px;
  }

  37.5% {
    background-position: 540px;
  }

  43.75% {
    background-position: 630px;
  }

  50% {
    background-position: 720px;
  }

  56.25% {
    background-position: 810px;
  }

  62.5% {
    background-position: 900px;
  }

  68.75% {
    background-position: 990px;
  }

  75% {
    background-position: 1080px;
  }

  81.25% {
    background-position: 1170px;
  }

  87.5% {
    background-position: 1260px;
  }

  93.75% {
    background-position: 1350px;
  }

  100% {
    background-position: 1440px;
  }



}

:root {
  --raisin-black: #272324;
  --dark-sea-green: #83B799;
  --arylide-yellow: #E2CD6D;
  --sage: #C2B28F;
  --cookies-and-cream: #E4D8B4;
  --light-carmine-pink: #E86F68;
}

.container {

  height: 100vh;
  width: 100vw;
  background: var(--raisin-black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
}

.characters {
  /* background: var(--raisin-black); */
  width: 90vw;
  /* height: 50vh; */
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
  text-align: center;
  justify-content: space-between;
  color: white;
}

.character-stats,
.enemy-stats {
  text-align: start;
  font-size: .8em;
  list-style: none;
}

.character-stats ul,
.enemy-stats ul {
  list-style: none;
}

.character,
.enemies {

  display: flex;
  flex-direction: column;
  background: var(--raisin-black);
  width: 9rem;
  height: 8rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.35rem;
  border: 1px solid var(--cookies-and-cream);
}

.character-image,
.enemy-image {
  width: 5rem;
  height: 5rem;

  margin: 0 auto;
}

.character-image img,
.enemy-image img {

  width: 100%;
  height: 100%;
  object-fit: cover;

}

.charcter-info,
.enemy-info {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
}

.log {
  height: 5rem;
  /* background: red; */
  border: solid 3.5px var(--arylide-yellow);
  margin: 5px;
  background: rgb(16, 44, 94);
  /* background: linear-gradient(90deg, #102c5e 0%, #04041c 35%, rgba(0,0,0,1) 100%); */
  background-image: linear-gradient(to bottom, #102c5e, #10234c, #0e1a3b, #0c122b, #04041c);
  color: white;
  border-radius: 5px;

  justify-content: space-between;

}

#log {
  width: 100%;
  /* background: blue; */
  height: 100%;
  /* margin: auto 0; */
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
}

#text {
  width: 100%;
}

.bodyCotent {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 15rem;
}

.actions {
  display: inline-flex;
  /* background: aqua; */
  width: 15rem;
  align-items: center;
  justify-content: space-evenly;
  border-left: 1px solid white;
}

#bar {
  width: 100%;
  border: solid .3px var(--cookies-and-cream);
}

#health {
  background-color: var(--dark-sea-green);
  width: 100%;
}