* {
  /* background-color: #212B31;
    color: #F1E1C4;
    font-family: 'Macondo', cursive; */
  /* margin: 0;
  padding: 0;
  font-family: 'Macondo', cursive;
  height: 100vh;
  width: 100vw;
  background-color: #212B31;
  color: #F1E1C4;
  overflow: hidden; */
}
html, body{
    background-color: #212B31;
      color: #F1E1C4;
      font-family: 'Macondo', cursive;
}
/****tes***/

.heroes{
      width: 90vw;
    display: flex;
      justify-content: space-around;
        border-radius: 5px;
}
.hero{
      height: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 15rem;
        align-items: center;
        border: 3px solid;
          color: #F1E1C4;
              padding: 0.5rem;
}

.hero-image{
  border-radius: 50%;
    border: 2px solid;
    color: #F1E1C4;
    height: 6rem;
    width: 6rem;
    margin-top: -4rem;
}

.hero-image img {
      height: 65px;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        margin-top: 1rem;
      }
.hero-name span{
  font-size: 2em;
}

.hero-info{
      width: 100%;
        display: flex;
        justify-content: space-evenly;
        line-height: 2;

        font-size: 1.5em;
}

.hero-info ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
}

.start {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 90%;
  height: 90%;
  border: 1px solid;
  align-items: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin: 0 auto; */
  width: 100%;
  /* margin: auto; */
  height: 100%;
  /* background: red; */
  /* margin: 1rem 1rem; */
  margin-top: 2rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}

.gametittle{
  text-align: center;
    margin: 3rem;

}

#sprite-image  {
  /* height: 325px;
  width: 184px; */
  height: 135px;
  width: 135px;
  transform: scale(2);
  image-rendering: pixelated;

}

#sprite-image-enemy{
    height: 90px;
      width:90px;
      /* transform: scale(2); */
      image-rendering: pixelated;
      filter: FlipH;
      transform: scaleX(-1.5);
}

.idle {
  background-image: url('./assets/characters/heros/warrior/Idle.png');
  animation: play 0.8s steps(1) infinite;

}

.attackPlayer {
  background-image: url('./assets/characters/heros/warrior/Attack1.png');
  animation: attack 0.8s steps(1) infinite;
}

.deathPlayer {
  background-image: url('./assets/characters/heros/warrior/Death.png');
  animation: death 1.0s steps(1);
  /* background-position: -1215px;
    animation-fill-mode: backwards; */
  animation-fill-mode: both;
  /* animation-iteration-count: 1; */

}
.playerGetHit{
    background-image: url('./assets/characters/heros/warrior/GetHit.png');
      animation: hit 1.0s steps(1);
      animation-fill-mode: both;
}




@keyframes play {
  0% {
    background-position: 0px;
  }

  10% {
    background-position: 135px;
  }

  20% {
    background-position: 270px;
  }

  30% {
    background-position: 405px;
  }

  40% {
    background-position: 540px;

  }



}

@keyframes death {
  0% {
    background-position: 0px;
  }

  10% {
    background-position: -135px;
  }

  20% {
    background-position: -270px;
  }

  30% {
    background-position: -405px;
  }

  40% {
    background-position: -540px;

  }

  50% {
    background-position: -675px;
  }

  60% {
    background-position: -810px;
  }

  70% {
    background-position: -945px;
  }

  /* 80% {
    background-position: -1080px;

  } */

  /* 90% {
    background-position: -1080px;

  } */

  100% {
    background-position: -1080px;

  }



}

@keyframes attack {
  0% {
    background-position: 0px;
  }

  25% {
    background-position: 135px;
  }

  50% {
    background-position: 270px;
  }

  75% {
    background-position: 405px;
  }
}

@keyframes hit {
  0% {
    background-position: 0px;
  }

  20% {
    background-position: 135px;
  }

  40% {
    background-position: 270px;
  }
     60% {
       background-position: 135px;
     }
            100% {
              background-position: 0px;
            }

  /* 30% {
    background-position: 405px;
  }

  40% {
    background-position: 540px;

  } */


}







/* :root {
  --raisin-black: #272324;
  --dark-sea-green: #83B799;
  --arylide-yellow: #E2CD6D;
  --sage: #C2B28F;
  --cookies-and-cream: #E4D8B4;
  --light-carmine-pink: #E86F68;
} */

.container {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
}
.container-battle {
  height: 95vh;
    width: 95vw;
    background-image: url(./assets/images/battleback1-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px solid;
    margin-top: 1rem;

  /* height: 66vh;
    margin-top: 10rem;
    border: 2px solid currentColor; */
}
.characters {
  /* background: var(--raisin-black); */
  width: 90vw;
  /* height: 50vh; */
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
  text-align: center;
  justify-content: space-between;
  color: white;
}

.character-stats,
.enemy-stats {
  text-align: start;
  font-size: .8em;
  list-style: none;
}

.character-stats ul,
.enemy-stats ul {
  list-style: none;
}

.character,
.enemies {

  display: flex;
  flex-direction: column;
  background: var(--raisin-black);
  width: 9rem;
  height: 8rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.35rem;
  border: 1px solid var(--cookies-and-cream);
}

.character-image,
.enemy-image {
  width: 5rem;
  height: 5rem;

  margin: 0 auto;
}

.character-image img,
.enemy-image img {

  width: 100%;
  height: 100%;
  object-fit: cover;

}

.charcter-info,
.enemy-info {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
}

.log {
  height: 5rem;
  /* background: red; */
  border: solid 3.5px #F1E1C4;;
  margin: 5px;
  background: rgb(16, 44, 94);
  background-image: linear-gradient(to bottom, #102c5e, #10234c, #0e1a3b, #0c122b, #04041c);
  color: #F1E1C4;
  border-radius: 5px;
  justify-content: space-between;

}

#log {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#text {
  width: 100%;
}

.bodyCotent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 15rem;
}

.actions {
  display: inline-flex;
  /* background: aqua; */
  width: 15rem;
  align-items: center;
  justify-content: space-evenly;
  border-left: 1px solid white;
}

#bar {
  width: 100%;
  border: solid .3px var(--cookies-and-cream);
}

#health {
  background-color: var(--dark-sea-green);
  width: 100%;
}


