.mage { --player-base: scale(2); }
.mage-idle   { background-image: url('../../assets/characters/heros/mage/Idle.png'); }
.mage-attack { background-image: url('../../assets/characters/heros/mage/Attack1.png'); }
.mage-hit    { background-image: url('../../assets/characters/heros/mage/Hit.png'); }
.mage-death  { background-image: url('../../assets/characters/heros/mage/Death.png'); }
