.mushroom { --enemy-base: scale(-2.6, 2.6); }
.mushroom-idle   { background-image: url('../../assets/characters/enemies/Mushroom/Idle.png'); }
.mushroom-attack { background-image: url('../../assets/characters/enemies/Mushroom/Attack.png'); }
.mushroom-hit    { background-image: url('../../assets/characters/enemies/Mushroom/Take Hit.png'); }
.mushroom-death  { background-image: url('../../assets/characters/enemies/Mushroom/Death.png'); }
