.flyingeye { --enemy-base: scale(-1.6, 1.6); }
.flyingeye-idle   { background-image: url('../../assets/characters/enemies/Flying eye/Flight.png'); }
.flyingeye-attack { background-image: url('../../assets/characters/enemies/Flying eye/Attack.png'); }
.flyingeye-hit    { background-image: url('../../assets/characters/enemies/Flying eye/Take Hit.png'); }
.flyingeye-death  { background-image: url('../../assets/characters/enemies/Flying eye/Death.png'); }
