.attackFlyingEye {
  background-image: url('../../assets/characters/enemies/Flying eye/Attack.png');
  animation: flayingEyeAttack 1s steps(1) infinite;
}

.deathFlyingEye {
  background-image: url('../../assets/characters/enemies/Flying eye/Death.png');
  animation: flayingEyeDeath 1.0s steps(1);
  /* background-position: -1215px;
    animation-fill-mode: backwards; */
  animation-fill-mode: both;
  /* animation-iteration-count: 1; */

}

.getHitFlyingEye {
  background-image: url('../../assets/characters/enemies/Flying eye/Take Hit.png');
  animation: flayingEyeHit 1.0s steps(1);
  animation-fill-mode: both;
}
.idleFlyingEye {
  background-image: url('../../assets/characters/enemies/Flying eye/Flight.png');
  animation: playFlayingEye 1s steps(1) infinite;

}
/* done */
@keyframes flayingEyeHit {
    0% {
    background-position: 0px;
  }

  10% {
    background-position: -150px;
  }

  20% {
    background-position: -300px;
  }

  50% {
    background-position: -450px;
  }

   /* 70% {
    background-position: -600px;
  } */

  100% {
    background-position: -908px;
  }





}
/* done */
@keyframes flayingEyeDeath {
  0% {
    background-position: 0px;
  }

  10% {
    background-position: -150px;
  }

  20% {
    background-position: -300px;
  }

  50% {
    background-position: -450px;
  }

   /* 70% {
    background-position: -600px;
  } */

  100% {
    background-position: -908px;
  }








}
/* done */
@keyframes playFlayingEye {
0% {
    background-position: 0px;
  }

 10% {
    background-position: 150px;
  }

20% {
    background-position: 300px;
  }

  30% {
    background-position:450px;
  }
   40% {
    background-position:600px;
  }
   50% {
    background-position:750px;
  }
   60% {
    background-position:900px;
  }

   80% {
    background-position:1050px;
  }
   100% {
    background-position:1200px;
  }


}
@keyframes flayingEyeAttack {
0% {
    background-position: 0px;
  }

 10% {
    background-position: 150px;
  }

20% {
    background-position: 300px;
  }

  30% {
    background-position:450px;
  }
   40% {
    background-position:600px;
  }
   50% {
    background-position:750px;
  }
   60% {
    background-position:900px;
  }

   80% {
    background-position:1050px;
  }
   100% {
    background-position:1200px;
  }

}